<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/layout.css" />

    <!-- Render the Styles section if defined -->
    @RenderSection("Styles", required: false)
</head>
<body>
    <aside class="sidebar">
        <!-- User Profile Section -->
        <div class="profile">
            <div class="profile-pic"></div> <!-- Gray circle as placeholder -->
            <div class="user-info">
                <h3>Jméno Příjmení</h3>
                <p>Role</p>
            </div>
        </div>
        <!-- Navigation Links -->
        <h2>Tvůj účet</h2>
        <a asp-area="User" asp-controller="Calendar" asp-action="CalendarMonth">Měsíční kalendář</a>
        <a asp-area="User" asp-controller="Calendar" asp-action="CalendarDay">Denní kalendář</a>
        <a asp-area="User" asp-controller="Calendar" asp-action="SharedCalendar">Sdílený kalendář</a>
        <a asp-area="User" asp-controller="Profile" asp-action="Profile">Profil</a>
        <!-- Admin Menu -->
        @* @if (User.IsInRole("Admin")) { *@
        <h2>Admin zóna</h2>
        <a asp-area="Admin" asp-controller="AdminCalendar" asp-action="AdminMonth">Měsíční kalendář</a>
        <a asp-area="User" asp-controller="Calendar" asp-action="SharedCalendar">Sdílený kalendář</a>
        @* <a asp-area="Admin" asp-controller="AdminCalendar" asp-action="AdminShared">Sdílený kalendář</a> *@
        <a asp-area="Admin" asp-controller="User" asp-action="CreateUser">Vytvořit uživatele</a>
        @* } *@
        <button class="logout-button" onclick="location.href='/'">Logout</button>
    </aside>
    <section class="content">
        @RenderBody()
    </section>

    <!-- Render the Scripts section if defined -->
    @RenderSection("Scripts", required: false)
</body>
</html>
