@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Reference to the shared layout
    ViewData["Title"] = "Měsíční kalendář";
}

<h1>Měsíční kalendář</h1>
<p>Měsíční kalendářMěsíční kalendářMěsíční kalendářMěsíční kalendářMěsíční kalendářMěsíční kalendářMěsíční kalendářMěsíční kalendářMěsíční kalendářMěsíční kalendářMěsíční kalendář</p>
