@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Reference to the shared layout
    ViewData["Title"] = "Sdílený kalendář";
}

<h1>Sdílený kalendář</h1>
<p>Sdílený kalendářSdílený kalendářSdílený kalendářSdílený kalendářSdílený kalendářSdílený kalendářSdílený kalendářSdílený kalendářSdílený kalendářSdílený kalendář</p>
