@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Reference to the shared layout
    ViewData["Title"] = "Vytvořit uživatele";
}

<h1>ADMIN Vytvořit uživatele</h1>
<p>Vytvořit uživateleVytvořit uživateleVytvořit uživateleVytvořit uživateleVytvořit uživateleVytvořit uživateleVytvořit uživateleVytvořit uživateleVytvořit uživateleVytvořit uživateleVytvořit uživatele</p>
