@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Vytvořit uživatele";
}
@model RegisterViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/createuser.css">
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="main-content">
    <div class="create-user-container">
        <!-- Title -->
        <div class="title-bar">
            <h1>Vytvořit uživatele</h1>
            <hr />
        </div>

        <!-- Create User Form -->
        <form asp-area="Admin" asp-controller="User" asp-action="CreateUser" method="post">
            <div class="form-section">
                <div class="form-row">
                    <label asp-for="UserName" class="form-label">Uživatelské jméno <span class="mandatory">*</span>:</label>
                    <input asp-for="UserName" class="form-input" required>
                </div>
                <div class="form-row">
                    <label asp-for="FirstName" class="form-label">Jméno <span class="mandatory">*</span>:</label>
                    <input asp-for="FirstName" class="form-input" required>
                </div>
                <div class="form-row">
                    <label asp-for="LastName" class="form-label">Příjmení <span class="mandatory">*</span>:</label>
                    <input asp-for="LastName" class="form-input" required>
                </div>
                <div class="form-row">
                    <label asp-for="Email" class="form-label">Email <span class="mandatory">*</span>:</label>
                    <input asp-for="Email" type="email" class="form-input" required>
                </div>
                <div class="form-row">
                    <label asp-for="PhoneNumber" class="form-label">Telefonní číslo <span class="mandatory">*</span>:</label>
                    <input asp-for="PhoneNumber" class="form-input" required>
                </div>
                <div class="form-row">
                    <label asp-for="Password" class="form-label">Heslo <span class="mandatory">*</span>:</label>
                    <input asp-for="Password" type="password" class="form-input" required>
                </div>
            </div>
            <!-- Error Messages Section -->
            <div class="error-messages">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li class="error-text">@error.ErrorMessage</li>
                    }
                </ul>
            </div>
            <!-- Action Buttons -->
            <div class="action-section">
                <button type="submit" class="submit-btn">Vytvořit uživatele</button>
            </div>
        </form>

        

    </div>
</div>
