@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Reference to the shared layout
    ViewData["Title"] = "Profil";
}

<h1>Profil</h1>
<p>ProfilProfilProfilProfilProfilProfilProfilProfilProfilProfilProfilProfil</p>
