@{
    Layout = null; /* Disable layout */
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <form asp-action="Login" asp-controller="Home" method="post">
        <input type="text" id="nameInput" name="Username" placeholder="Name" required />
        <input type="password" id="passwordInput" name="Password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>

    @if (ViewData["LoginFailed"] != null && (bool)ViewData["LoginFailed"])
    {
        <div id="error" style="color: red; margin-top:10px;">Nesprávné jméno či heslo</div>
    }
</body>
</html>
